---
import Layout from '../layouts/Layout.astro';

const CLIENT_ID = Astro.locals.runtime.env.CLIENT_ID;
const REDIRECT_URL = Astro.locals.runtime.env.REDIRECT_URL;

const getAuthURL = () => {
  let params = new URLSearchParams();
  params.set('client_id', CLIENT_ID);
  params.set('redirect_url', REDIRECT_URL);
  params.set('response_type','code');
  params.set('scope','sites:read cms:read');
  let url = 'https://webflow.com/oauth/authorize?' + params.toString();
  return url;
}

let token = await Astro.session?.get('access_token');
console.log(token);
let needLogin = token == null;
---

<Layout>

  <h1>CMS Type Report Tool</h1>

  <p>
    This tool lets you generate a report on your collection types and provides a JSON dump of the fields for each type. 
    This is useful for working with the <a href="https://developers.webflow.com/data/v2.0.0/reference/rest-introduction">Data APIs</a> and specifically
    the <a href="https://developers.webflow.com/data/v2.0.0/reference/cms">CMS</a> endpoints.
  </p>

  { needLogin &&
    <p>
      <a href={ getAuthURL() }>Login with Webflow.</a>
    </p>
  }

  { !needLogin && 
    <p>
    Welcome - view your <a href="/app/sites">sites</a> to start examining your CMS collection types.
    </p>
  }

</Layout>

