---
import Layout from '../layouts/Layout.astro';

const CLIENT_ID = process.env.CLIENT_ID;
const CLIENT_SECRET = process.env.CLIENT_SECRET;
const REDIRECT_URL = process.env.REDIRECT_URL;

//import { Section, Container, Block, Link } from '../../devlink/_Builtin/Basic';

/*
        'state': session['oauth2_state'],
  to do - state for security
*/
const getAuthURL = () => {
  let params = new URLSearchParams();
  params.set('client_id', CLIENT_ID);
  params.set('redirect_url', REDIRECT_URL);
  params.set('response_type','code');
  params.set('scope','sites:read cms:read');
  let url = 'https://webflow.com/oauth/authorize?' + params.toString();
  return url;
}

let token = await Astro.session?.get('access_token');
let needLogin = token == null;
console.log('in home page, token is', token, token == null);
---

<Layout>

  <h1>Testing an OAuth Login</h1>

  { needLogin &&
    <p>
      <a href={ getAuthURL() }>Login with WF</a>
    </p>
  }

  { !needLogin && 
    <p>
    Welcome! <a href="app/sites">Sites</a>
    </p>
  }
</Layout>

